<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctors Form</h4>
        <h6 class="card-subtitle">doctor information</h6>
        <form
          class="form p-t-20"
          [formGroup]="doctorForm"
          (submit)="createDoctor()"
        >
          <div class="form-group text-center" *ngIf="selectedDoctor">
            <img [src]="selectedDoctor.image | image: 'doctor'" />
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': validName }">
            <label>Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                formControlName="name"
              />
            </div>
            <div class="form-control-feedback" *ngIf="validName">
              Name is required.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': validHospital }">
            <label for="exampleInputEmail1">Hospital</label>
            <select
              class="form-control custom-select"
              formControlName="hospitalId"
              (change)="changeHospital($event)"
            >
              <option value="">Select Hospital</option>
              <option *ngFor="let hospital of hospitals" [value]="hospital.id">
                {{ hospital.name }}
              </option>
            </select>
            <div class="form-control-feedback" *ngIf="validHospital">
              Hospital is required.
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="doctorForm.invalid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-inverse waves-effect waves-light"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 animated fadeIn fast">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ nameSelectedHospital }}</h6>
        <div class="text-center">
          <img [src]="imageSelectedHospital | image: 'hospital'" width="300" />
        </div>
      </div>
    </div>
  </div>
</div>
