<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Profile</h4>
        <h6 class="card-subtitle">you can update your information.</h6>
        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (ngSubmit)="updateProfile()"
        >
          <div class="form-group">
            <label for="exampleInputuname">Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email"
                [readonly]="user.google"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="profileForm.invalid"
          >
            Save Information
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Picture</h4>
        <h6 class="card-subtitle">you can update your picture.</h6>
        <div class="text-center">
          <img
            [src]="userService.getUserImage"
            width="200"
            height="200"
            *ngIf="!pictureTemp"
          />
          <img
            *ngIf="pictureTemp"
            [src]="pictureTemp"
            width="200"
            height="200"
          />
        </div>
        <br />
        <br />
        <div class="form-group">
          <div class="input-group">
            <input type="file" (change)="changePicture($event)" />
          </div>
        </div>
        <button
          type="button"
          class="btn btn-success waves-effect waves-light m-r-10"
          (click)="uploadPicture()"
          [disabled]="!picture"
        >
          Change Picture
        </button>
      </div>
    </div>
  </div>
</div>
