<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body input-form">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search doctor"
            [(ngModel)]="name"
          />
          <span class="input-group-btn">
            <button
              class="btn btn-success"
              type="button"
              (click)="getDoctors()"
            >
              Search
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctor List</h4>
        <div class="m-t-40">
          <div class="d-flex">
            <div class="ml-auto">
              <div class="form-group">
                <a
                  type="button"
                  class="btn btn-success"
                  routerLink="/dashboard/doctors/new"
                >
                  <i class="fa fa-plus"></i> Add New Doctor
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <th>Name</th>
                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let doctor of doctors
                    | paginate
                      : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        }
                "
              >
                <td>
                  <img
                    [src]="doctor.image | image: 'doctor'"
                    class="picture cursor"
                    (click)="openModal(doctor)"
                  />
                </td>
                <td>{{ doctor.name }}</td>
                <td class="text-nowrap text-center">
                  <a
                    [routerLink]="['/dashboard', 'doctors', doctor.id]"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="delete"
                    (click)="deleteDoctor(doctor)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-3">
            <select
              class="form-control custom-select"
              (change)="handlePageSizeChange($event)"
            >
              <option value="0">Items per Page</option>
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <div class="col-md-9">
            <pagination-controls
              previusLabel="Prev"
              nextLabel="Next"
              responsive="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
